* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', ;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  opacity: 95%;
}

main {
  background-image: url('./Background.jpg');
  font-family: 'Lato', ;
}

/* //////////////EVERYTHING NAVBAR ////////////// */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(29, 22, 22, 0.945);
}

.nav-logo {
  font-size: 1.2rem;
  margin: .5rem;
  color: #91B7D9 ;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color:#91B7D9;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: rgba(119, 136, 153, 0.507);
}


.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #91B7D9;
  border-radius: 10px;
}

/* //////////    TYPOGRAPHY   //////////// */
 h1 {
   font-size: 36px;
   font-family: 'Open Sans', ;
   color: rgba(235, 197, 143, 0.911);
 }




 /* ///////////   EVERYTHING MEDIAN QUERY  /////// */
@media (max-width: 520px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}


/* ///////////    REGULAR CSS     //////////////// */
nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

 ul {
 list-style: none;
 text-align: right;
 padding-right: 12px;
}

li {
 display: inline;
 text-align: right;
}

header {
  padding: 12% 0;
}



/* section:nth-child(even) {
  background-color: #ddd;
} */


/* ////// BACKGROUND-IMG/////// */


.project1 img {
  max-width: 400px;
  max-height: 400px;
}









